body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

/* Block container  */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*--------------------------------------header --------------------------------------*/
.header-border-bottom {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/*  */
.header-container {
  max-height: 72px;
  display: flex;
  margin-left: 148px;
  margin-right: 148px;
  margin: 0px auto;
}

.header-navigaton {
  display: flex;
  align-items: center;
}

.header-padding-link {
  display: block;
  padding: 24px 0;
}

.header-three-link {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 0px;
  align-items: center;
  margin-right: 166px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.logo-config {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio {
  color: #2e2f42;
  letter-spacing: 0.03;
}

/* header-link */

.header-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-studio-link {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-studio-link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  bottom: -1px;
}

/* ----------------------------------------------- */
.header-contacts {
  font-style: normal;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 166px;
}

.header-contacts-block {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-address-link {
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* ----------------------------=========--main--============----------------------------- */

.hero-container {
  max-width: 1440px;
  margin: 0px auto;
}

.hero {
  max-width: 1440px;
  max-height: 600px;
  margin: auto auto;
  background-size: 100% 100%;
  background-position: center center;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  padding: 188px 0px;
  background-size: cover;
}

.title-one-level {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0px auto;
}

.main-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  display: block;
  height: 56px;
  border: none;
  margin: 48px auto 0px auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/*-------------------section----advantages------------------- */
.advantages {
  padding: 120px 0;
}

.list-advantages {
  width: calc((100% - 72px) / 4);
  align-items: flex-start;
}

.advantages-block {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.advantages-icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}

.abvantages-icon {
  margin: 24px 100px;
}

.advantages-title-margin {
  margin-bottom: 8px;
}

/* -----------------------section our team--------------------------------- */
.our-team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
}

.our-team-list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
}

.block-our-team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-text {
  padding: 32px 0;
}

.our-team-margin-text {
  margin-bottom: 8px;
}

.ul-our-team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.list-item-our-team-icons {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  gap: 24px;
}

.link-our-team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-our-team-icons:hover {
  background-color: #404bbf;
}

.link-our-team-icons:focus {
  background-color: #404bbf;
}

.link-icons {
  fill: #f4f4fd;
}

/* --------------------------our-portfolio----------------------- */

/*-------section-our-portfolio----- */
.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-item-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

/*-----title=>h3 -----*/
.title-our-portfoilo {
  margin: 0 0 72px 0;
}

.list-item-portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*------block-our-portfolio=====>img-----*/
.block-our-portfolio-photo {
  position: relative;
  overflow: hidden;

  max-width: 360px;
  max-height: 360px;
}

.our-portfolio-title-down-photo {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

/* .our-portfolio-title-down-photo:hover{
  transform: translateY(100%);
} */

/* ========================================= */
.list-item-our-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-our-portfolio:hover .our-portfolio-title-down-photo {
  transform: translateY(0%);
}

.list-item-our-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*=============!====!=====!====!!!!=====Text----setting============!=========*/

.two-level {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.11;
}

.three-level {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.just-text {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* our team */

/*--------------------------------------- footer ---------------------------------------*/
.footer-block {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
/* text and logo */
.block-logo-title {
  margin-right: 120px;
}

.block-footer-social {
}

.text-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.link-social:hover,
:focus {
  background-color: #31d0aa;
}

/* ul for svg */

.item-social {
  display: flex;
  gap: 16px;
}

.list-item-social-link {
  width: 40px;
  height: 40px;
}

.link-social {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* logo-footer-STUDIO */
.logo-footer {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-just-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------------------BACKDROP--------------------*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  top: 0;
  left: 0;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 0 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* button-close */
.icon-btn-close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  line-height: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.icon-btn-close:hover,
.icon-btn-close:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

/* style for modal */
.review-form-description {
  width: 360px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  padding-left: 38px;
  margin-bottom: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-input:active {
  border-radius: 4px;
  border: 1px solid var(--IRIS, #4d5ae5);
  outline: transparent;
}

.review-form-filed-label {
  margin-bottom: 8px;
}

.review-form-wrapp {
  position: relative;
}

.icons-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-window-comment {
  width: 100%;
  height: 120px;
  transition: 250ms;
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  transition: 250ms;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-window-comment:hover,
.modal-window-comment:focus,
.modal-window-comment:active {
  border-radius: 4px;
  border: 1px solid var(--IRIS, #4d5ae5);
  outline: transparent;
  background-color: #fcfcfc;
}

/* check-box */
.review-form-checkbox-wrapper {
  margin-top: 16px;
}

.review-form-checkbox-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66; /* 116.667% */
  letter-spacing: 0.04em;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.checkbox-privacy-policy {
  text-decoration: underline;
}

/* btn */
.btn-send-form {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 0;

  cursor: pointer;
  margin: 0px auto 24px auto;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.4em;
  border: none;
}

.btn-send-form:hover,
.btn-send-form:focus{
  background-color: #404bbf; 
  border: none;
}
