body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/*--------------------------------------header --------------------------------------*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em
}

.logo-studio {
  color: #2e2f42;
  letter-spacing: 0.03
}

.header-link{
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-contacts{
  font-style: normal
}

.header-address-link{
  font-style: normal;
  line-height: 1.5;
  color: #434455;
}

.addres-link:hover,
.addres-link:focus {
  color: #404bbf;
}

/* ------------------------------main------------------------------- */

.hero{
  background-color: #2e2f42;
}

.title-one-level{
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.main-button{
  background-color: #4d5ae5;
  font-weight: 500;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}
/* close section */


/* work-with-text */

/* two-level it is tags H2*/

.two-level {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.three-level{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.just-text{
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* our team */

.our-team {
  background-color: #f4f4fd;
}

.block-our-team {
  background-color: #ffffff;
}



/* footer */
.footer-block{
  background-color: #2e2f42;
}


/* logo-footer-STUDIO */
.logo-footer{
  color: #f4f4fd;
}


.footer-just-text{
  line-height: 1.5;
  color:  #F4F4FD;
  letter-spacing: 0.02em;
}
